/*STYLE*/

body {
  font-family: 'Crimson Text', serif;
  font-size: 21px;
  color: #2e2d2e;
  padding-bottom: 15vh;
  border-bottom: 20px solid #E95265;
}

body.loading {
  height: 100vh;
  overflow: hidden;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: underline;
}

a:hover {
  color: #E95265;
}

p.introduction {
  font-size: 30px;
}

ul {
  padding-left: 23px;
}

h4 {
  font-weight: bold;
  font-size: 18px;
}

.center-text {
  text-align: center;
}

.white {
  color: white;
}

.row-padding {
  padding-top: 50px;

}

.main {
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: height 0.5s ease-in-out;
    transition-delay: 0.5s;
}

.loading .main {
  height: 100vh;
}

#logo {
  max-width: 45vw;
  max-height: 80%;
}

/* The animation code */
@keyframes star-rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(22.5deg);}
}

#logo #star {
  transform: rotate(45deg);
  transform-origin: center;
  animation-name: star-rotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.down {
  position: absolute;
  bottom: 50px;
}

#mc_embed_signup {
  font-family: 'Crimson Text', serif;
}

#mc_embed_signup form {
  padding: 0 !important;

}

/* The animation code */
@keyframes asterisk-rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#mc_embed_signup .indicates-required {
  opacity: 0.8;
  font-size: 16px !important;
}

span.asterisk {
  animation-name: asterisk-rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 5px 13px; 
  display: inline-block;
}

.mc-field-group span.asterisk {
  transform-origin: 7px 19px;
}

#mc_embed_signup .mc-field-group label {
    opacity: 0.8;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
}

#mc_embed_signup .mc-field-group input {
    border-radius: 0px !important;
    border: none;
    padding: 12px 12px 8px !important;
    font-size: 24px;
    font-weight: 400;
    border-bottom: 1px solid #2e2d2e;
    display: inline !important;
    width: auto !important;
    min-width: 360px;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
    border-color: #E95265 !important;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    color: #E95265 !important;
}

#mc_embed_signup .button {
    width: 360px !important;
    padding: 12px !important;
    height: auto !important;
    font-size: 24px !important;
    border-radius: 0px !important;
}

img.logo{
  width: 100%;
  max-width: 45vw;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width: 720px) {
  #mc_embed_signup .indicates-required {
    display: none !important;
  }
  #mc_embed_signup .button{
    width: 100% !important;
    margin-top: 30px !important;
  }
  #mc_embed_signup .mc-field-group input {
    min-width: 100% !important;
    padding: 16px 12px 10px !important;
    font-size: 18px;
  }
}

@media screen and (max-width: 411px) {
  p.introduction {
    font-size: 24px;
  }
}
