.container {
  
}

.title {
  color: #212121;
  font-size: 50px;
  text-align: center;
}

.intro-text {
  color: #212121;
  font-size: 14px;
  text-align: center;
}

.download-button {
  padding: 30px;
  text-align: center;
}

.body-text {
  margin-top: 15px;
  color: #212121;
  font-size: 14px;
  text-align: center;
}

/* Modal */
.modal-title {
  color: #212121;
  text-align: center;
}

.model-text {
  color: #212121;
  text-align: center;
}

.form-group {
  color: #212121;
}

.control-label {
  color: #0288D1;
}

.form-control {
  color: #0288D1;
}

.form-group {
  color: #0288D1;
}

.download-link {
  text-align: center;
}

.download-link a {
  color: #0288D1;
}

.download-link a:hover {
  color: #1A237E;
}

.submit-message {
  color: #212121;
  font-size: 16px;
  text-align: center;
}

.modal-footer {
  color: #1A237E;
}


/*STYLE*/

.main {
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center-text {
  text-align: center;
}

.white {
  color: white;
}

#logo {
  width: 35vw;
}

/* The animation code */
@keyframes star-rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(22.5deg);}
}

#logo #star {
  transform: rotate(45deg);
  transform-origin: center;
  animation-name: star-rotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.down {
  position: absolute;
  bottom: 50px;
}